.side-panel {
  position: absolute;
  top: 0;
  right: -100%;
  width: 25vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 2;
}

.collapse-button {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  z-index: 2;
  font-size: 100px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  background-color: transparent;
}

.list {
  display: flex;
}