.side-panel {
  position: absolute;
  top: 0;
  right: 0%;
  width: 25vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 2;
}

.collapse-button {
  position: relative;
  top: 20%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 100px;
  left: 73%;
}

.list {
  position: relative;
  right: -100%;
  height: 51.5vw;
}