<div class="jumbotron">
    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
        <div class="media-body order-2 order-lg-1">
            <h2 class="mt-0 font-weight-bold mb-2">{{titre}}</h2>
            <div class="sous-classe">
                <h4>Description:</h4>
                <p>{{description}}</p>
                <h4>Lieu:</h4>
                <p>{{lieu}}</p>
                <h4>Date:</h4>
                <p>{{date}}</p>
            </div>
        </div>
    </div>
</div>